<h1>You can download blocktoidz on the play store</h1>
<a href="https://play.google.com/store/apps/details?id=com.spartanfox.blocktoidz&hl=en"
    class="btn btn-primary btn-lg  btn-block">
    Download
</a>
