<div class="container">
  <center>
  <h1>Welcome to Blocktoidz</h1>

    <p>
      <h3>
        Blocktoidz is a action puzzle game similar to tetris, however using complex triangular pieces<br>
        allowing for fun and interesting gameplay.
      </h3>
    </p>
    <img src="https://lh3.googleusercontent.com/JoTA-SUggwMABsObWhBhrEmNndrlIYXcD2Lw5etyljGhkhbY8ItO418AtLOGwfHmuF8=h400" class="img-rounded" alt="Blocktoidz" >
    <img src="https://lh3.googleusercontent.com/-xrQ-VBPzC7UMJbNnaPNOVAVOZHqqWhDfb3SC7jiYjTErK2-a2TD-5VNvhJpj5mJxpU=h400" class="img-rounded" alt="Blocktoidz" >
    <p>
      <h3>
        Blocktoidz has alot of levels and variety including different themes and gamemodes.<br>
        One gamemode is breaker where you must destroy an object within the level as fast as you can.
      </h3>
    </p>
    <img src="https://lh3.googleusercontent.com/B1Aj-l_BCAyU6uyYFfXAcxTe71qIngGlx_qmD5TW-YOdXsuC4sgqYhK-lGLiA3QyVA=h400" class="img-rounded" alt="Blocktoidz" >
    <img src="https://lh3.googleusercontent.com/W1WyTdIjMreMKCNOhcrUmzt1FAiYb_8JToidvYFwTNwIqshWkPpj-4YPc1f0jTCMLSU=h400" class="img-rounded" alt="Blocktoidz" >
    <img src="https://lh3.googleusercontent.com/KCUzdpSclCXnHM60_BJgNFRwoBQpIibGXibcsI2uqNkjsLWE1VvaBpD9oHiUwQcWa237=h400" class="img-rounded" alt="Blocktoidz" >
    <p>
      <h3>
        Once you have completed a level you can enter your name and view it in the highscores,<br>
        if the level is a breaker level once you have sucsesfully completed it then you will<br>
        unlock the next level.
      </h3>
    </p>
    <img src="https://lh3.googleusercontent.com/6nEOlrkg-6t6noIM8zKUFE-UkTNvibIAv_Piq2UHMSA2hJYq0aBVGrySCTlw_7GKPns=h400" class="img-rounded" alt="Blocktoidz" >
    <img src="https://lh3.googleusercontent.com/YlmjpkBOi-WMXlQLNhvtVkTdaCl5-mfaxKEK2rwRATmBMMYo4KB5SqSiXsokt1uXxwE=h400" class="img-rounded" alt="Blocktoidz" >

  </center>
</div>
