<div class="container">
  <center>
  <h1>Welcome to blocktoidz</h1>

  <p>Blocktoidz is a action puzzle game similar to tetris, however using complex triangular peices</p>
  <p>allowing for fun and interesting gameplay.</p>
    <img src="https://lh3.googleusercontent.com/JoTA-SUggwMABsObWhBhrEmNndrlIYXcD2Lw5etyljGhkhbY8ItO418AtLOGwfHmuF8=h500" class="img-rounded" alt="Blocktoidz" >
    <img src="https://lh3.googleusercontent.com/-xrQ-VBPzC7UMJbNnaPNOVAVOZHqqWhDfb3SC7jiYjTErK2-a2TD-5VNvhJpj5mJxpU=h500" class="img-rounded" alt="Blocktoidz" >
</center>
</div>
